<!DOCTYPE html>

<html>
<head>
    <title>PC Builder</title>
</head>
<body>


<div class="container">
<link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">

  <div>
    <h1>PC Parts</h1>
<img src="" alt="">
    <div class="parts-grid">
      {% for part in parts %}
        <div class="part-card">
          <img src="{{ part.ImageURL }} " alt="{{part.PartName}}">
          <h4>{{ part.PartName }}</h4>
          <p>{{ part.Category }}</p>
          <p>${{ part.Price }}</p>

          <form action="{{ url_for('add_part', part_id=part.PartID) }}" method="get">
  <button type="submit" class="button">Add</button>
</form>
        </div>
      {% endfor %}
    </div>
  </div>


  <div></div>


  <div>
    <h2>Your Build</h2>

    {% for part in build_parts %}
      <div class="build-card">
        <img src="{{ part.ImageURL }}">
        <div>
          <h4>{{ part.PartName }}</h4>
          <p>${{ part.Price }}</p>
        </div>
      </div>
    {% endfor %}

    <a href="/clear" class="button" style="background:red;">Reset</a>
  </div>

</div>