{% extends "layout.html" %}
{% block body %}
<!-- Just one Player -->
<!-- two coloum grid -->
<div class= "two-column"> 
    <!-- image on left -->
    <img src="{{ Player[8] }}" alt="{{ Player[2] }}">
    <div class="info">
        <h1>Name: {{ Player[9] }}</h1>
        <h1>Height: {{ Player[2] }}cm</h1>
        <h1>Weight: {{ Player[3] }}kg</h1>
        <h1>Position: {{ Player[4] }}</h1>
        <h1>Age: {{ Player[5] }}</h1>
        <h1>Background:</h1>
        <h1>{{ Player[6] }}</h1>
        <br>
        <h1>Achievments:</h1>
        <h1>{{ Player[7] }}</h1>
    </div>

</div>
{% endblock %}